/* emoji */
.fr-view .fr-emoticon.fr-emoticon-img {
  background-repeat: no-repeat;
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  margin: -0.1em 0.1em 0.1em;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.fr-view .fr-emoticon {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', NotoColorEmoji,
    'Segoe UI Symbol', 'Android Emoji', EmojiSymbols;
  font-weight: 400;
}

/* img */
.fr-view img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
}

.fr-view img {
  position: relative;
  max-width: 100%;
}
.fr-view p[data-f-id='pbf'] {
  display: none;
}
