:root {
  --color-bg-navs: #2b3041;
  --color-bg-gray: #f0f2f5;
  --layout-width: 1200px;

  --layout-header-height: 72px;
  --layout-navs-height: 54px;

  --color-bg-theme: #e5f8f7;
  --color-blue: #1890ff;
}
