{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    // https://cn.vuejs.org/guide/scaling-up/tooling.html#linting
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "./.eslintrc-auto-import.json",
    "@vue/eslint-config-prettier/skip-formatting"
  ],
  "plugins": [
    "@typescript-eslint"// fix error: Definition for rule '@typescript-eslint/no-unused-vars' was not found. eslint(@typescript-eslint/no-unused-vars)
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_"
    }],
    "@typescript-eslint/no-explicit-any": "off",
    "curly": "error",
    "vue/multi-word-component-names": "off"
  },
  "globals": {
    "FroalaEditor": true,
    "CSV": true
  }
}